@import "tailwindcss";

html,
body {
  height: 100%;
  
}

body {
  margin: 0;
  background-color: #b5facf; 
  color: #000000;
  
}

/* App layout */
.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  

}

.main-content {
  flex-grow: 1;
  
}

.navbar {
  background: #ffffff;              
  border-bottom: 1px solid rgba(0, 242, 255, 0.08);
}


