@import "tailwindcss";

html,
body {
  height: 100%;
}

body {
  margin: 0;
  background-color: #fbfbfb; 
  color: #000000;
}

/* App layout */
.app-layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main-content {
  flex-grow: 1;
}
